.footer-background{
    background: whitesmoke;
    padding: 15px 0;
}
h1 {
    color: #8022eb;
    margin-right: 10px;
}
.createDragonField input {
    margin: 0 6px;
}
.createDragonButton button {
    margin: 0 6px;
    width: 100%;
}

/* RESPONSIVITY */
@media only screen and (max-width: 960px) { 
    /* styles for browsers smaller than 960px; */ 
    .flex{
        flex-direction: column;
    }
    .addDragonForm {
        width: 100%;
    }

    .dragonCreateForm input {
        margin: 15px 0;
        width: 100%;
    }

    .createDragonButton button {
        margin: 15px 0;
        width: 100%;
    }
} 