* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
*, 
*:before, 
*:after {
    box-sizing: inherit;
}
.App-background {
    background-color: #c093f3;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: rgb(52, 45, 45);
    text-align: center;
}

/* Conatainer's Layout */
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
}
.aItemsCenter {
    align-items: center;
}
.jContentCenter {
    justify-content: center;
}
.jContentStart {
    justify-content: flex-start;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

/* BUTTONS AND INPUTS */

input {
    height: 40px;
    border: 1px solid darkgrey;
    border-radius: 8px;
    padding: 0 6px;
}

button {
    height: 40px;
    border: 1px solid darkgrey;
    border-radius: 8px;
    padding: 0 6px;
    font-size: 14px;
    background: rgb(52, 45, 45);
    color: white;
    letter-spacing: 2.5px;
    cursor: pointer;
}

button:hover {
    letter-spacing: 3.5px;
}

/* MARGIN AND PADDINGS */
.m25 {
    margin: 25px 25px 25px 25px;
}
.mr10 {
    margin-right: 10px;
}
.ml10 {
    margin-left: 10px;
}
.mb25 {
    margin-bottom: 25px;
}