.App-background {
    min-height: 100vh;
}
.img-home {
    width: 60%;
    pointer-events: none;
    margin-top: -118px;
}

p {
    margin: 0;
    font-weight: 700;
}

.field input {
    width: 50%;
    height: 40px;   
    margin-bottom: 20px;
}

.field button {
    width: 25%;
    height: 40px;
    margin-bottom: 20px;
}

.field button:hover {
    letter-spacing: 3.5px;
}
.info {
    padding: 16px 25px;
}

.info p {
    font-weight: 100;
    font-size: 15px;
    margin-top: 15px;
}

/* RESPONSIVITY */
@media only screen and (max-width: 960px) { 
    /* styles for browsers smaller than 960px; */ 
    .flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .w50 {
        width: 100%;
    }
    .img-home {
        margin-top: 0px;
    }
    input, button {
        margin: 15px 0;
        width: 70%;
    }
} 